body {
  margin: 0;
  font-family: var(--font-primary), -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography utils */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  margin-top: 0;
}

.chinese-text {
  font-family: var(--font-chinese);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
